<a href="https://colab.research.google.com/github/Laxmanchowdaryyy/python-modules/blob/Module-2/dictionaries_12_04_22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#creating a dictionary
student = {
    "Name": "Saketh",
    "Roll no.": 79,
    "Year" : "1",
}
print(student)
print(student["Name"])

{'Name': 'Saketh', 'Roll no.': 79, 'Year': '1'}
Saketh

In [ ]:
#duplicates not allowed 
#duplicate  values will overwrite existing values
student = {
    "Name": "Saketh",
    "Roll no.": 79,
    "Year" : 1,
    "Year": 2,
}
print(student["Year"])
print(len(student))

2
3

In [ ]:
placement= {
    "name":input("enter your name\n"),
    "age":input('enter your age\n'),
    "cgpa": float(input('enter your cgpa\n')),
    "phone no.":int(input('enter your mobile number\n')),
    "section": 'A'
}
print(placement)
print(placement["cgpa"],"is your cgpa")

enter your name
laxman
enter your age
18
enter your cgpa
9
enter your mobile number
9090
{'name': 'laxman', 'age': '18', 'cgpa': 9.0, 'phone no.': 9090, 'section': 'A'}
9.0 is your cgpa
dict_keys(['name', 'age', 'cgpa', 'phone no.', 'section'])

In [ ]:
#keys() will return a list off all kweys 
student = {
    "Name": "Saketh",
    "Roll no.": 79,
    "Year" : 1,
    "Year": 2,
}
print(student.keys())

dict_keys(['Name', 'Roll no.', 'Year'])

In [ ]:
#add new item to dictionary and see the keys getting updated
student = {
    "Name": "Saketh",
    "Roll no.": 79,
    "Year" : 1,
    "Year": 2,
}
print(student.keys())
student["course"]= "Btech"
print(student.keys())

dict_keys(['Name', 'Roll no.', 'Year'])
dict_keys(['Name', 'Roll no.', 'Year', 'course'])
<class 'dict'>

In [ ]:
#values() will return a list of all values in dic
student = {
    "Name": "Saketh",
    "Roll no.": 79,
    "Year":1
}
print(student.values())
student["Year"]= 2
print(student.values())

dict_values(['Saketh', 79, 1])
dict_values(['Saketh', 79, 2])

In [ ]:
#items() will return each item in a dictionary
student = {
    "Name": "Saketh",
    "Roll no.": 79,
    "Year" : 1,
}
x=student.items()
print(x)
student["Year"]= 2
print(x)

dict_items([('Name', 'Saketh'), ('Roll no.', 79), ('Year', 1)])
dict_items([('Name', 'Saketh'), ('Roll no.', 79), ('Year', 2)])

In [ ]:
#check if a key is present
student= {
    "name": "laxman",
    "branch": "aiml",
    "year": 1,
    "roll no":122
}
if "name" in student:
  print("yes")

SyntaxError: ignored

In [ ]:
#the update() methid will update 
student= {
    "name": "laxman",
    "branch": "aiml",
    "year": 1,
    "roll no":122
}
student.update({"year": 2})
print(student)

{'name': 'laxman', 'branch': 'aiml', 'year': 2, 'roll no': 122}

In [ ]:
#adding an item
student= {
    "name": "laxman",
    "branch":"aiml",
    "year": 1
}
student["roll no"]=122
print(student)

{'name': 'laxman', 'branch': 'aiml', 'year': 1, 'roll no': 122}

In [ ]:
#pop()
student={
    "name":"laxman",
    "branch":"aiml",
    "year": 1,
    "roll no": 122
}
student.pop("year")
print(student)

{'name': 'laxman', 'branch': 'aiml', 'roll no': 122}

In [ ]:
#popitem() removes last inserted item
student={
    "name":"laxman",
    "branch":"aiml",
    "year": 1,
    "roll no": 122
}
student.popitem()
print(student)

{'name': 'laxman', 'branch': 'aiml', 'year': 1}

In [ ]:
#del
student={
    "name":"laxman",
    "branch":"aiml",
    "year": 1,
    "roll no": 122
}
del student["branch"]
print(student)

{'name': 'laxman', 'year': 1, 'roll no': 122}

In [ ]:
#clear()
student={
    "name":"laxman",
    "branch":"aiml",
    "year": 1,
    "roll no": 122
}
student.clear()
print(student)

{}

In [ ]:
#loops
student={
    "name":"laxman",
    "branch":"aiml",
    "year": 1,
    "roll no": 122
}
for x in student:
  print(x)

for x in student:
  print(student[x])
#use values( ) to return values of dictionary
for y in student.values():
  print(y,"\n")
#use keys() to return keys of a dictionary
for z in student.keys():
  print(z,"\t")
#use items() to return oth keys and values
for x,y in student.items():
  print(x,y)

name
branch
year
roll no
laxman
aiml
1
122
laxman

aiml

1

122

name
branch
year
roll no
name laxman
branch aiml
year 1
roll no 122

In [ ]:
#we cannot copy by tying dict2=dict1, use copy() and dict()
student={
    "name":"laxman",
    "branch":"aiml",
    "year": 1,
    "roll no": 122
}
stu=student.copy()
print(stu)

#dict()
student={
    "name":"laxman",
    "branch":"aiml",
    "year": 1,
    "roll no": 122
}
stu=dict(student)
print(stu)

{'name': 'laxman', 'branch': 'aiml', 'year': 1, 'roll no': 122}
{'name': 'laxman', 'branch': 'aiml', 'year': 1, 'roll no': 122}

In [ ]:
#nested dictionaries
#
section_A={
    "student 1": {
        "name": "laxman",
        "roll no": 122
    },
    "student 2":{
        "name": "saketh",
        "roll no": 79
    },
    "student 3":{
        "name": "sai",
        "roll no": 107
    }
}
print(section_A)

{'student 1': {'name': 'laxman', 'roll no': 122}, 'student 2': {'name': 'saketh', 'roll no': 79}, 'student 3': {'name': 'sai', 'roll no': 107}}