<a href="https://colab.research.google.com/github/Laxmanchowdaryyy/python-modules/blob/Module-2/questions_26%2C27_04_22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#*1.write a program to print prime number in a given range by using function (25-50).
def prime_in_range(a,b):
  for i in range(a,b+1):
   if i > 1:
       for j in range(2, i):
           if (i % j) == 0:
               break
       else:
           print(i)
     


a=int(input("enter first number"))
b=int(input("enter second number"))
prime_in_range(a,b)

29
31
37
41
43
47

In [ ]:
#2.write a program  to read any month in integer and display days for that perticular month.
def month(x):
  if x==1 or x==3 or x==5 or x==7 or x==9 or x==11:
    print("31 days")
  elif x==2:
    print("28 or 29 days")
  else:
    print("30 days")

x=int(input("enter the month from 1-12"))
month(x)

enter the month from 1-122
28 or 29 days

In [ ]:
#3.write a python program to print even length words in a string.
#sample: input "HI HOW ARE YOU" "This is a python class"
         # output Hi  this/n is python
def even_length_words(x):
  x=x.split(' ')
  for i in x:
    if len(i)%2==0:
      print(i)

x=str(input("enter any sentence"))
even_length_words(x)

enter any sentenceTHIS IS PYTHON CLASS
THIS
IS
PYTHON

In [ ]:
#4.write a python program to capitilise the first letter and last letter of each word
            #input: hello world
           # output: HellO WorlD
a=str(input())
b=a.split(' ')
z=""
for i in b:
  x=i.capitalize()
  y=i[-1].capitalize()
  z=x[0:-1]+y
  print(z,end=" ")

hello world
HellO WorlD

In [ ]:
#5.write a program to read a string from user, display first character of each word with capital letter.
           # input: hi welcome to python class
           # output: Hi Welcome To Python Class
def first_word_cap(x):
  x=x.title() #we can also use capitalize() and using for loop
  print(x)

x=str(input("enter any sentence"))
first_word_cap(x)

enter any sentencehi welcome to python class
Hi Welcome To Python Class

In [ ]:
#6.write a python program to convert a list of multiple intergers into single integer.
           #input: (11,33,50)
         #  output: 113350
def multiple_to_single(list1):
  for i in list1:
    print(i,end="")

list1=[]
n = int(input("Enter numer of elements elements"))
for i in range(0, n):
    x=int(input(""))
    list1.append(x)
multiple_to_single(list1)

Enter numer of elements elements3
11
55
33
115533

In [ ]:
#7.write a python program to find the power of number with reccursion and without reccursion
   #input: n=2,p=3
n=int(input("enter a number"))
p=int(input("enter the power"))
if (p==1):
  print(n) 
else:
  print(n*pow(n,p-1))

enter a number3
enter the power1
3

In [ ]:
#8. write a program to sort tuples by total digits
   #input: list=[(3,4,6,723),(1,2),(1,3,4),(2,3,4),(3,4)]
def total_tuple_digits(s):
   return sum([len(str(i)) for i in s])

list1=[(3,4,6,723),(1,2),(1,3,4),(2,3,4),(3,4)]

print("The tuple is :")
print(list1)

list1.sort(key= total_tuple_digits)

print("The result is :")
print(list1)

The tuple is :
[(3, 4, 6, 723), (1, 2), (1, 3, 4), (2, 3, 4), (3, 4)]
The result is :
[(1, 2), (3, 4), (1, 3, 4), (2, 3, 4), (3, 4, 6, 723)]

In [ ]:
#9.take 5 subjects marks from user and display the grade of a student
#cond if avg is 90-100 O grade
# 80-89 A+
# 70-79 A
#60-69 B+
#.... >40 F
s1=int(input("enter 1st subject marks"))
s2=int(input("enter 2nd subject marks"))
s3=int(input("enter 3rd subject marks"))
s4=int(input("enter 4th subject marks"))
s5=int(input("enter 5th subject marks"))
avg=(s1+s2+s3+s4+s5)/5
if avg>=90:
  print("you have scored 'O' grade")
elif avg>=80:
  print("you have scored 'A+' grade")
elif avg>=70:
  print("you have scored 'A' grade")
elif avg>=60:
  print("you have scored 'B+' grade")
elif avg>=50:
  print("you have scored 'B' grade")
elif avg>=40:
  print("you have scored 'C' grade")
else:
  print("FAIL")

enter 1st subject marks90
enter 2nd subject marks80
enter 3rd subject marks70
enter 4th subject marks70
enter 5th subject marks70
you have scored 'A' grade

In [ ]:
#10. write a python program that prints 1 if all the three given numbers are in ascending order if not print 0
a=int(input(""))
b=int(input())
c=int(input())
if (a<b) and (a<c) and (b<c):
  print("1")
else:
  print("0")

9
8
7
0

In [ ]:
#11.check the given number is perfect or not
def perfect_number(n):
  sum=0
  for x in range (1,n):
    if n % x==0:
      sum=sum+x
  if sum==n:
     print("given number is a perfect number")
  else:
    print("not a perfect number")

n=int(input("enter any number"))
perfect_number(n)

enter anu number5
not a palindrome

In [ ]:
#12.check given string is palindrome or not
#input: malayalam
def palindrome(x):
  print(x[::-1])
  if(x==x[::-1]):
    print("palindrome")
  else:
    print("not a palindrome")

x=str(input("enter a word"))
palindrome(x)

enter a wordmalayalam
malayalam
palindrome

In [ ]:
#13.find the GCD of 2 numbers with and without reccursion
#input : 5,3 out:1
def GCD(x,y):
    if(y==0):
        return x
    else:
        return GCD(y,x%y)
a=int(input("Enter the first number :"))
b= int(input("Enter the second number :"))
print("The GCD of two numbers is:", GCD(a,b))

Enter the first number :5
Enter the second number :3
The GCD of two numbers is: 1

In [ ]:
#14.print sum of even numbers in a given number
x=int(input("enter any number"))
for i in range(i,x+1):
  sum=0
  if i%2==0:
    sum=sum+i
print(sum)

enter any number123456
123456

In [ ]:
#15. calculate the product of digits of a number
num=int(input("enter a number"))
result=1
while(num!=0):
  result=result*(num%10)
  num=num//10
print(result)

enter a number123
6

In [ ]:
#16.program to calculate the sum of square of a numer given by user 
def sum_square(n):
  sum=0
  for i in range (1,n+1):
    sum=sum+(i*i)
  print(sum)

n=int(input("enter a number"))
sum_square(n)

enter a number3
14

In [ ]:
#17.given a string 's' s='abcdefcba' how many times the Ith capital 
#print count front back matches 
def ith_capital(x):
  count=0
  while(len(x)>1):
    if x[0]==x[-1]:
      count=count+1
      x=x[1:-1]
    else:
      x=x[1:-1]
  print(count)
  

x=str(input("enter string"))
ith_capital(x)

enter stringabcddcba
4

In [ ]:
#18.given an integer n, return a list containg values 1 2 2 3 3 3 4 4 4 4... and finally n 
n=int(input("enter nth number"))
a=[]
for i in range(1,n+1):
  for j in range (0,i):
    a.append(i)
print(a)

enter nth number5
[1, 2, 2, 3, 3, 3, 4, 4, 4, 4, 5, 5, 5, 5, 5]

In [ ]:
#19. print number of vowels and consonents in the given string
 #input: "GITAM UNIVERSITY" 
def count_VandC(x):
  vowels=0
  consonents=0
  for i in x:
    if(i == 'a'or i == 'e'or i == 'i'or i == 'o'or i == 'u' or i == 'A'or i == 'E'or i == 'I'or i == 'O'or i == 'U' ):
      vowels=vowels+1
    else:
      consonents=consonents+1
  print("vowels",vowels)
  print("consonents",consonents)

x=str(input("enter a string"))
count_VandC(x)

enter a stringaeiouAEIOUBCDbbbcd
vowels 10
consonents 8

In [ ]:
#20. given two integers a and b, if a<b print all numbers from a to b in ascending order else print descending order
a=int(input("enter a"))
b=int(input("enter b"))
if a<b:
  while (a<=b):
    print(a,end=",")
    a=a+1
else:
  while (a>=b):
    print(a,end=",")
    a=a-1

enter a100
enter b70
100,99,98,97,96,95,94,93,92,91,90,89,88,87,86,85,84,83,82,81,80,79,78,77,76,75,74,73,72,71,70,

In [ ]:
#21. program to print biggest value among three numbers
a=int(input("first number"))
b=int(input("second number"))
c=int(input("third number"))
if (a>b) and (a>c):
  print(a,"is largest")
elif (b>a) and (b>c):
  print(b,"is largest")
else :
  print(c,"is largest")

first number5
second number1
third number9
9 is largest

In [ ]:
#22. write a program to count the number of strings where the string length is 2 or more and the first and last characters are same in given list of things 
a=input("Enter a word ")
if a[0]==a[-1]:
  print("Yes")
else :
  print("No")

Enter a word hi this is mahesh
Yes

In [ ]:
#23. round trip of walking track is 6km , take the input from user as numer of days,number of round trips he complted per day, calculate the total distance he covered in meters
#cond if distance is less than 40000m give msg as "need to walk more" if >40000m "you hae done a great job"
a=int(input("Enter days "))
b=int(input("Enter round trips per day "))
c=a*b*6000
print("you have walked",c,"metres")
if c>= 40000 :
  print("Good job")
else :
  print("Need to walk more")

Enter days 5
Enter round trips per day 3
you have walked 90000 metres
Good job

In [ ]:
#24. given a list of student names in 'l' ,and a character ,display the names of students whose first letter is given character as input
n=input("Enter letter to be verified ")
n=n.lower()
r=[]
s=0
for i in range(int(input("Enter no. of students "))):
  a=input(f"Enter name of student no. {i+1} ")
  a=a.lower()
  p=a[0]
  if n==p :
    s+=1
    r.append(a)
print(f"Total {s} students matched\nThey are {r}")

Enter letter to be verified l
Enter no. of students 4
Enter name of student no. 1 laxman
Enter name of student no. 2 likhith
Enter name of student no. 3 saketh
Enter name of student no. 4 saicharan
Total 2 students matched
They are ['laxman', 'likhith']

In [ ]:
#25. given a list of city names , print city names whose length is greater than given length.
l=int(input("Enter length to be exceeded "))
u=[]
for i in range(int(input("Enter no. of cities "))):
  c=input(f"Enter name of city no.{i+1} ")
  a=len(c)
  if a>l:
    u.append(c)
print(f"required cities are {u}")

Enter length to be exceeded 5
Enter no. of cities 5
Enter name of city no.1 khammam
Enter name of city no.2 hydreabad
Enter name of city no.3 goa
Enter name of city no.4 vizag
Enter name of city no.5 delhi
required cities are ['khammam', 'hydreabad']