<a href="https://colab.research.google.com/github/Laxmanchowdaryyy/python-modules/blob/Module-5/reg_exp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import re
txt="I'm studying in GITAM university"
x=re.search("I.*y$",txt)
if x:
  print("yes")
else:
  print("no")

yes

In [ ]:
import re
txt = "I'm studying in GITAM university"
x = re.findall("dy", txt)
print(x)

['dy']

In [ ]:
import re
txt = "I'm studying in GITAM university"
x = re.findall("deemed", txt)
print(x)
if (x):
  print("Yes, there is at least one match!")
else:
  print("No match")

[]
No match

In [ ]:
import re

txt = "The rain in Spain"
x = re.search("Portugal", txt)
print(x)

None

In [ ]:
#Split at each white-space character:
import re
txt = "Gitam university visakhapatnam"
x = re.split("\s", txt)
print(x)

['Gitam', 'university', 'visakhapatnam']

In [ ]:
#Split the string only at the first occurrence:
import re
txt= "gitam university visakhapatnam"
x = re.split("\s", txt, 1)
print(x)

['gitam', 'university visakhapatnam']

In [ ]:
#Replace every white-space character with a number:
import re
txt = "Gitam  Deemed to BE University"
x = re.sub("\s", "5", txt)
print(x)

Gitam55Deemed5to5BE5University

In [ ]:
#Replace the first 2 occurrences:
import re
txt="Gitam University Deemed to be University"
x= re.sub("\s","5",txt,2)
print(x)

Gitam5University5Deemed to be University

In [ ]:
#Do a search that will return a Match Object:
import re
text="I'm studying in Gitam, Deemed to be university"
a=re.search("ee",text)
print(a)  #this will print an object

<re.Match object; span=(24, 26), match='ee'>

In [ ]:
#.span() returns a tuple containing the start-, and end positions of the match.
#.string returns the string passed into the function
#.group() returns the part of the string where there was a match
import re
txt = "The rain in Spain and India"
x = re.search(r"\bS\w+", txt)
print(x.span())


a = re.search(r"\bS\w+", txt)
print(a.string)

b = re.search(r"\bS\w+", txt)
print(b.group())

(12, 17)
The rain in Spain and India
Spain

In [ ]:
##Find all digit characters:
import re
txt = "I have scored 8.6 in sem 1"
x = re.findall("\d", txt)
print(x)

['8', '6', '1']

In [2]:
import re
txt = "hello , Gitam University"
#Check if the string ends with 'planet':
x = re.findall("University$", txt)
if x:
  print("Yes, the string ends with 'planet'")
else:
  print("No match")

No match

In [4]:
import re
txt = "Hello GITAM University"
#Search for a sequence that starts with "he", followed by 0 or more  (any) characters, and an "o":
x = re.findall("GI.*y", txt)
print(x)

['GITAM University']

In [7]:
import re
txt = "Gitam University"
#Search for a sequence that starts with "he", followed excactly 2 (any) characters, and an "o":
x = re.findall("Un.{7}y", txt)
print(x)

['University']

In [8]:
import re
txt = "The rain in Spain"
#Check if the string has any a, r, or n characters:
x = re.findall("[arn]", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['r', 'a', 'n', 'n', 'a', 'n']
Yes, there is at least one match!

In [9]:
import re
txt = "The rain in Spain"
#Check if the string has any characters between a and n:
x = re.findall("[a-n]", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['h', 'e', 'a', 'i', 'n', 'i', 'n', 'a', 'i', 'n']
Yes, there is at least one match!

In [10]:
import re
txt = "8 times before 11:45 AM"
#Check if the string has any two-digit numbers, from 00 to 59:
x = re.findall("[0-5][0-9]", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['11', '45']
Yes, there is at least one match!

In [11]:
import re
txt = "8 times before 11:45 AM"
#Check if the string has any characters from a to z lower case, and A to Z upper case:
x = re.findall("[a-zA-Z]", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['t', 'i', 'm', 'e', 's', 'b', 'e', 'f', 'o', 'r', 'e', 'A', 'M']
Yes, there is at least one match!

In [12]:
import re
txt = "8 times before 11:45 AM"
#Check if the string has any + characters:
x = re.findall("[+]", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

[]
No match