<a href="https://colab.research.google.com/github/Laxmanchowdaryyy/python-modules/blob/Module-2/sets_7_04_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Duplicate values will be ignored:
cars={"bmw","audi","benz","bmw","bmw"}
print(cars)

{'audi', 'benz', 'bmw'}

In [ ]:
cars={"bmw","audi","benz","bmw","bmw"}
print(len(cars))

3

In [ ]:
set1 = {1, 5, 7, 9, 3,2,8,20}
print(set1)
set2 = {False, False,True,False}
print(set2)
set3={"saketh","laxman","sai","saketh","laxman","sai"}
print(set3)

{1, 2, 3, 5, 7, 8, 9, 20}
{False, True}
{'sai', 'saketh', 'laxman'}

In [ ]:
sett={"bmw",True,30,"motorsport"}
print(sett)
print(type(sett))

{True, 'motorsport', 'bmw', 30}
<class 'set'>

In [ ]:
#Using the set() constructor to make a set
cars=set(("sport","sedan","hatchback"))
print(cars)
print(type(cars))

{'hatchback', 'sport', 'sedan'}
<class 'set'>

In [ ]:
#loop through the set
cars={"kia","merc","audi","skaoda"}
for x in cars:
  print(x)

print("merc" in cars)
print("bmw" in cars)

merc
audi
kia
skaoda
True
False

In [ ]:
#Using the set() constructor to make a set
cars={"kia","merc","audi","skaoda"}
cars.add("bmw")
print(cars)
print(type(cars))

{'merc', 'audi', 'bmw', 'skaoda', 'kia'}
<class 'set'>

In [ ]:
fruits={"mango","apple","kiwi"}
new={"custard","papaya","cherrry"}
new.update(fruits)
print(new)

{'cherrry', 'kiwi', 'apple', 'mango', 'papaya', 'custard'}

In [ ]:
#remove() we can also use discard()
cars={"bmw","audi","fiat","ford"}
cars.remove("audi")
print(cars)

{'fiat', 'ford', 'bmw'}

In [ ]:
#pop() pop removes last item but sets are unordered
cars={"bmw","audi","mercedes","skoda","citreon"}
cars.pop()  #set after removing an item
print(cars)
x=cars.pop() #removed item
print(x)

{'citreon', 'audi', 'bmw', 'mercedes'}
citreon

In [ ]:
#clear() empties the set
fruits={"banana","kiwi","gauva"}
fruits.clear()
print(fruits)

set()

In [ ]:
#del deletes set completely
cars={"audi","bmw","mercedes"}
del cars
print(cars)

NameError: ignored

In [ ]:
#You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another:
cars={"bmw","merc","hyundai"}
car={30,20,10}
sett=cars.union(car)
print(sett)

{'merc', 20, 'hyundai', 10, 'bmw', 30}

In [ ]:
#update inserts itams in set2 into set1
cars={"honda","mini","tata","mini","honda"}
car={10,20,30,50}
cars.update(car)
print(cars)

{50, 20, 30, 'honda', 'mini', 10, 'tata'}

In [ ]:
#intersection_update() will keep only the items are present in both sets
fruits={"apple","banana","grapes","apple"}
cars={"bmw","audi","benz","apple","banana"}
fruits.intersection_update(cars)
print(fruits)

{'apple', 'banana'}

In [ ]:
#The intersection() method will return a new set, that only contains the items that are present in both sets.
fruits={"apple","banana","grapes","apple"}
cars={"bmw","audi","benz","apple","banana"}
z=fruits.intersection(cars)
print(z)

{'apple', 'banana'}

In [ ]:
#The symmetric_difference_update() Keep All, But NOT the Duplicates
fruits={"apple","banana","grapes","apple"}
cars={"bmw","audi","benz","apple","banana"}
fruits.symmetric_difference_update(cars)
print(fruits)
#The symmetric_difference() method will return a new set, that contains only the elements that are NOT present in both sets.
z=fruits.symmetric_difference(cars)

{'audi', 'benz', 'bmw', 'grapes'}
{'apple', 'grapes', 'banana'}