<a href="https://colab.research.google.com/github/Laxmanchowdaryyy/python-modules/blob/Module-2/tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#create a tuple and allows duplicates
fruits= ("apple", "banana", "cherry","banana","cherry")
print(fruits)
print(type(fruits))
#length wont change if there are tuples
print(len(fruits))
print(fruits.count("banana"))

('apple', 'banana', 'cherry', 'banana', 'cherry')
<class 'tuple'>
5
2

In [ ]:
#length of tuple
fruits=(1,1,1,2,3,421,3)
print(len(fruits))

7

In [ ]:
#One item tuple, remember the comma:
fruit=("banana")
print(type(fruit))
fruit=("banana",)
print(type(fruit))

<class 'str'>
<class 'tuple'>

In [ ]:
#string items can be of anytypes
fruits=("banana","kiwi","mango")
numbers=(1,2,3)
boolean=(True,False)
print(fruits)
print(numbers)
print(type(numbers))
print(boolean)
print(type(boolean))

('banana', 'kiwi', 'mango')
(1, 2, 3)
<class 'tuple'>
(True, False)
<class 'tuple'>

In [ ]:
#A tuple with strings, integers and boolean values:
tupleA=("mango",77,True)
print(tupleA)
print(type(tupleA))

('mango', 77, True)
<class 'tuple'>

In [ ]:
#Access Tuple Items
fruit=("banana","apple","kiwi","orange")
print(fruit[2])
print(fruit[-2])
print(fruit[1:2])
print(fruit[:-1])
if "orange" in fruit:
    print("yes")

kiwi
kiwi
('apple',)
('banana', 'apple', 'kiwi')
yes

In [ ]:
fruits=("banana","apple")
fruit=list(fruits)
fruit.remove("apple")
print(fruit)

['banana']

In [ ]:
fruits=("banana","cherry","apples")
(red,yellow,blue)=fruits
print(yellow)

cherry

In [ ]:
fruits=("mango","banana","apple","cherry")
(red,green,*blue)=fruits
print(blue)
print(*red)

['apple', 'cherry']
m a n g o
['apple', 'cherry']
cherry

In [ ]:
fruits=("mango","banana","apple","cherry","papaya")
(red,green,*blue,yellow)=fruits
print(blue)
print(yellow)

['apple', 'cherry']
papaya

In [ ]:
#loops
fruits = ("apple", "banana", "cherry","gauva")
for f in fruits:
  print(f)

apple
banana
cherry
gauva

In [ ]:
fruits=("cherry","mango","kiwi","watermelon","apple","pineapple")
for x in range(len(fruits)):
  print(fruits[x])

cherry
mango
kiwi
watermelon
apple
pineapple

In [ ]:
fruits=("cherry","mango","kiwi","watermelon","apple","pineapple")
i=0
while (i< len(fruits)):
  print(fruits[i])
  i=i+1

cherry
mango
kiwi
watermelon
apple
pineapple

In [ ]:
fruits=("apples","banana","kiwi")
numbers=(143,)
joinedtuple=fruits + numbers
print(joinedtuple)

('apples', 'banana', 'kiwi', 143)

In [ ]:
fruits=("apple","banana")
fruits= fruits* 3
print(fruits)

('apple', 'banana', 'apple', 'banana', 'apple', 'banana')

In [ ]:
fruits=("cherry","mango","kiwi","watermelon","apple","pineapple","watermelon")
fruits.count("kk")
fruits.index("watermelon")

3